@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="Views\Home\SelectIndumentaria.cshtml">Crear Indumentaria</a></p>

</div>

@foreach (var Equipo in Equipos.ListaEquipos)
{
    ViewBag.Equipo();
}

    
