@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p><a href="Views\Home\SelectIndumentaria.cshtml">Crear Indumentaria</a></p>

</div>

@foreach (var equipo in Equipos.ListaEquipos) 
{
    ViewBag.Equipos = equipo;
    <p>@equipo</p>
}                                                                                          