<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SelectIndumentaria</title>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body>
  <div class="form-container">
    <h2>Select Indumentaria</h2>
    <form action="/Home/SelectIndumentaria" method="post">
        <label for="medias">Medias:</label>
            <img src="/Img/1Media.jpg" alt="Medias">
            <input type="number" id="medias" name="medias" min="0">
            <img src="/Img/2Medias.jpg" alt="Medias">
            <input type="number" id="medias" name="medias" min="0">
            <img src="/Img/3Medias.jpg" alt="Medias">
            <input type="number" id="medias" name="medias" min="0">

        <label for="pantalones">Pantalones:</label>
            <img src="/Img/1Pantalon.jpg" alt="Pantalon">
            <input type="number" id="Pantalon" name="Pantalon" min="0">
            <img src="/Img/2Pantalon.jpg" alt="Pantalon">
            <input type="number" id="Pantalon" name="Pantalon" min="0">
            <img src="/Img/3Pantalon.jpg" alt="Pantalon">
            <input type="number" id="Pantalon" name="Pantalon" min="0">

        <label for="remeras">Remeras:</label>
            <img src="/Img/1Remera.jpg" alt="Remera">
            <input type="number" id="Remera" name="Remera" min="0">
            <img src="/Img/2Remera.jpg" alt="Remera">
            <input type="number" id="Remera" name="Remera" min="0">
            <img src="/Img/3Remera.jpg" alt="Remera">
            <input type="number" id="Remera" name="Remera" min="0">

      <input type="submit" value="Crear Indumentaria">
    </form>
  </div>
</body>
</html>