<label for="Elegir equipo">:Equipos</label>
    <select> River Plate </select>    
    <select> Seleccion Argentina </select>    
    <select> Manchester City </select>   
    <button class="agregar"><u><Elegir equipo></u></button>


 <img src= "wwwroot\Img\1Escudo.jpg" widht= "35%" height="250" alt="auto"/>