<!DOCTYPE html>
<html>
<head>
  <title>Select Indumentaria</title>
  <style>
    /* Estilos CSS */
    .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
    }

    .form-container h2 {
      text-align: center;
    }

    .form-container label {
      display: block;
      margin-bottom: 10px;
    }

    .form-container input[type="number"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }

    .form-container img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }

    .form-container input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    .form-container input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="form-container">
    <h2>Select Indumentaria</h2>
    <form action="/Home/SelectIndumentaria" method="post">
        <label for="medias">Medias:</label>
            <img src="/Img/1Media.jpg" alt="Medias">
            <input type="number" id="medias" name="medias" min="0">
            <img src="/Img/2Medias.jpg" alt="Medias">
            <input type="number" id="medias" name="medias" min="0">
            <img src="/Img/3Medias.jpg" alt="Medias">
            <input type="number" id="medias" name="medias" min="0">

        <label for="pantalones">Pantalones:</label>
            <img src="/Img/1Pantalon.jpg" alt="Pantalon">
            <input type="number" id="Pantalon" name="Pantalon" min="0">
            <img src="/Img/2Pantalon.jpg" alt="Pantalon">
            <input type="number" id="Pantalon" name="Pantalon" min="0">
            <img src="/Img/3Pantalon.jpg" alt="Pantalon">
            <input type="number" id="Pantalon" name="Pantalon" min="0">

        <label for="pantalones">Remeras:</label>
            <img src="/Img/1Remera.jpg" alt="Remera">
            <input type="number" id="Remera" name="Remera" min="0">
            <img src="/Img/2Remera.jpg" alt="Remera">
            <input type="number" id="Remera" name="Remera" min="0">
            <img src="/Img/3Remera.jpg" alt="Remera">
            <input type="number" id="Remera" name="Remera" min="0">

      <input type="submit" value="Crear Indumentaria">
    </form>
  </div>
</body>
</html>