html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a74c4c;
}

.form-container h2 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.form-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}
